

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  outline: 0 !important;
}
html {
  background-color: #000 !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: #DDD !important;
  outline: 0 !important;
}
body {
  height:100vh;
  width: 100vw;
}
a:focus, button:focus {
  outline: 0 !important;
}
p {
  color: #DDD !important;
  font-size:3vh;
  text-transform:none;
}

.up, .reverse {
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.player-1 {
  position:static;
  width:100%;
  height:30vh;
  padding-left: 0px; 
  padding-right: 0px; 
  background-color:#555;
}

.player-2 {
  position: fixed;
  width:100%; 
  bottom: 0px;
  height: 30vh;
  padding-left: 0px; 
  padding-right: 0px; 
  background-color:#555;
}

.game-center {
  background-color: #000;
  position:static;
  height:40vh;
  text-align:center;
  border-bottom: 5px solid #000;
  box-sizing: content-box;
}

.player-1-game {
  position:static;
  width:100%;
  height:50%;
  padding:5%;
}

.player-2-game {
  position:static;
  width:100%;
  bottom:0px;
  height:50%;
  padding:5%;
}

.pull-bottom {
  position: fixed;
  bottom: 0px;
}

.pull-top {
  position: fixed;
  top: 0px;
}
.pull-top-child {
  position: relative;
  top: 0px;
}

#button-1, #button-2 {
  background-color: #212121;
  color:#DDD;
  font-weight: bold;
  margin: 0px !important;
  position: absolute;
  height:80%;
  width: 100%;
  border-radius: 0px;
}

#button-1:active, #button-2:active {
  background-color: #DDD;
  color:#212121;
}

.score {
  padding-left:5vw;
  font-size:5vh;
  color:#DDD;
}

.countdown-element {
  height:100%;
  position:relative;
  float:right;
  z-index:100;
  background-color:#FFF;
  width:10px;
}

img.pares {
  width: 25vw;
  max-width: 15vh;
  max-height: 15vh;
  height: 25vw;
  object-fit: cover;
}
 